@namespace BootstrapBlazor.Components


<div @ref="GeolocationElement">
    @if (ShowButtons)
    {
        <Button OnClick="@GetLocation">@GetLocationButtonText</Button>
        <Button OnClick="@WatchPosition">@WatchPositionButtonText</Button>
    }
</div>

