@page "/fullscreenvideobackgrounds"
@namespace BootstrapBlazor.Shared.Pages

<h4>FullscreenVideoBackground 全屏视频背景</h4>

<Block Title="基础用法" Introduction="通过设置 <code>Items</code> 数据集合当用户键入信息是自动显示提示信息">
    <FullscreenVideoBackground />
</Block>

<AttributeTable Items="@GetAttributes()" />
