@page "/blurredbackgroundimages"

<h3>BlurredBackgroundImage 背景图像模糊</h3>

<Block Title="基础用法" Introduction="通过设置 <code>Items</code> 数据集合当用户键入信息是自动显示提示信息">
<BlurredBackgroundImage />
</Block>

<AttributeTable Items="@GetAttributes()" />
