@page "/comingsoonpages"

<h3>ComingSoonPage 全页倒计时</h3>
<ComingSoonPage />

<Block Title="基础用法" Introduction="通过设置 <code>Items</code> 数据集合当用户键入信息是自动显示提示信息">
</Block>

<AttributeTable Items="@GetAttributes()" />
