@namespace BootstrapBlazor.Components


<div @ref="GeolocationElement">
    @if (!IsLite)
    {
        <Button OnClick="@GetLocation">@BtnGetLocation</Button>
        <Button OnClick="@WatchPosition">@BtnWatchPosition</Button>
    }
</div>

